:root {
    color-scheme: light dark;
    
    --cougar-red: #C8102E;
    --lightmode-color: black;
    --darkmode-color: white;
}

body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    min-height: 30vh;

    background-image: linear-gradient(to bottom, light-dark(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75)), light-dark(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75))), url(./public/financial-frontier.png);
    background-size: cover;
    background-position: center;
}
header img {
    height: 150px;
}

.social-media-banner {
    display: flex;
    flex-flow: column;
    margin: 10px;
}
.social-media-banner h2 {
    color: var(--cougar-red);
    font-size: 4vh;
    margin-top: 8px;
    margin-bottom: 5px;
}

.logos {
    display: flex;
    flex-flow: row;
    align-items: center;
}
.logos a {
    margin-right: 15px;
}
.logos a img {
    height: 5vh;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #C8102E;
    color: white;
}
nav a {
    font-size: larger;
    font-weight: bold;
    padding: 20px 20px;
    cursor: pointer;
}
nav a:hover {
    background-color: white;
    color: var(--cougar-red)
}

main {
    color: light-dark(var(--lightmode-color), var(--darkmode-color));
}
main h1 {
    color: var(--cougar-red);
}
main ul {
    font-size: larger;
}

section button {
    margin-top: 20px;
}

button {
    color: var(--cougar-red);
    background-color: transparent;

    cursor: pointer;

    border: solid;
    border-color: var(--cougar-red);
    border-width: 5px;
    border-radius: 25px;

    font-size: large;
    font-weight: bolder;

    width: 100%;
    height: 75px;

    transition: 0.3s;
}
button:hover {
    color: white;
    background-color: var(--cougar-red);
    font-size: larger;
}

footer {
    background-color: var(--cougar-red);
    color: white;
    display: flex;
    padding: 30px;
    margin-top: 50px; /* Give it some spacing from the main content */
}
footer section a {
    color: white;
    margin-top: 15px;
}

/* Mobile Layout */
@media (width <= 800px) {
    .desktop-only {
        display: none;
    }

    nav {
        flex-flow: column;
        align-items: stretch;
        height: auto;
        margin-bottom: 30px;
    }
    nav a {
        text-align: center;
        font-size: x-large;
    }
    nav .expand {
        display: none;
    }

    main {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    main h1 {
        font-size: 9vw; /* larger h1 scalar for mobile is important for legibility */
    }
    main p {
        font-size: large;
    }

    button {
        width: 100%;
    }

    .row {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 10vh;
    }
    .row ul {
        list-style-position: inside; /* keeping the dots right next to the text looks nice */
        padding-left: 0px; /* removes padding the dots brings */
    }
    .row img {
        max-width: 100%;
        height: auto;
    }

    footer {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
    footer section {
        display: flex;
        flex-flow: column;
        text-align: center;
    }
}

/* Desktop Layout */
@media (width > 800px) {
    .mobile-only {
        display: none;
    }

    main {
        padding: 50px;
    }
    main h1 {
        font-size: 50px
    }
    main p {
        font-size: larger;
    }

    .row {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 600px;
        margin-bottom: 150px;
    }
    
    .picture-collumn {
        width: 55vw;
        min-height: 100%;
        overflow: hidden;
    }
    .picture-collumn img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section {
        display: flex;
        flex-flow: column;
        justify-content: center;

        height: 100%;
        width: 45vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    section h1 {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .reverse {
        flex-flow: row-reverse; /* Displays the image first instead of the text section.
                                   I know this is a weird way to go about formatting it, 
                                   but I wanted to always keep the images on top for mobile. */
    }

    .left-image {
        padding-right: 50px;
    }

    .right-image {
        margin-left: 50px;
    }
    footer {
        flex-flow: row;
        justify-content: center;

        height: 300px;
    }
    footer section {
        display: flex;
        justify-content: start;

        width: 100px;
    }

    /* Makes it to where the button doesn't stretch across the entire screen when centered on Desktop. */
    .center-button {
        width: 50%;
    }
}

.iframe-wrapper {
    max-width: 800px;
    margin: 20px auto;
    border: 3px solid var(--cougar-red);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 9;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}